<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employ Information</title>
</head>
<body>

<center><h1>Employee Register</h1></center>


<br><br>

<form action="/emp" method= "post" action="http://localhost:5000/emp">
    Empid : <input type="number" name="Empid"><br><br>
    FirstName : <input type="text" name="fnm"><br><br>
    LastName : <input type="text" name="lnm"><br><br>
    DOB: <input type="text" name="DOB"><br><br>
    Address : <input type="text" name="adr"><br><br>
    Gender : <input type="radio" name="gender" value="M"> Male
             <input type="radio" name="gender" value="F"> Female <br><br>
    Email : <input type="text" name="email"><br><br>
    <input type="submit"name="submit"><br><br>
</form>
</body>
</html>